<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>294025636825-6vv0ij5bkeh7rihlkjlb6a6tt2qfal1r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.294025636825-6vv0ij5bkeh7rihlkjlb6a6tt2qfal1r</string>
	<key>API_KEY</key>
	<string>AIzaSyA5XU7zn92Q6Pean00QJnsUqZRplQR_4LI</string>
	<key>GCM_SENDER_ID</key>
	<string>294025636825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mm</string>
	<key>PROJECT_ID</key>
	<string>testproject-4583a</string>
	<key>STORAGE_BUCKET</key>
	<string>testproject-4583a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:294025636825:ios:135cebc7c7b31e672787c8</string>
</dict>
</plist>